.container {
	width: 100%;
}
.content {
	width: 1024px;
	padding-bottom: 80px;
}
/*.card {
	width: 256px;
	padding: 8px;
}

md-card {
	width: 100%;
	padding: 0px;
}
md-card>.mat-button {
	width: 100%;
	padding: 24px;
}
md-card-header {
	align-items: center;
}
.mat-card-avatar {
	height: 48px;
    width: 48px;
}    
md-card-title,
md-card-subtitle {
	margin: 0px;
}*/