<div class="container" fxLayout="row" fxLayoutAlign="center start">
	<div class="content" fxLayout="row" fxLayoutAlign="start start" fxLayoutWrap>
		<md-card fxFlexFill>
			<div>
				<div fxLayout="row" fxLayoutAlign="start start">
					<span fxFlex="10">年级：</span>
					<div fxFlex="90" fxLayoutWrap fxLayoutGap="8px">
						<md-checkbox>全部</md-checkbox>
						<md-checkbox>一年级</md-checkbox>
						<md-checkbox>二年级</md-checkbox>
					</div>
					
				</div>
				<div fxLayout="row" fxLayoutAlign="start start">
					<span fxFlex="10">学科：</span>
					<div fxFlex="90" fxLayoutWrap fxLayoutGap="8px">
						<md-checkbox>语文</md-checkbox>
						<md-checkbox>数学</md-checkbox>
					</div>
					
				</div>
				<div fxLayout="row" fxLayoutAlign="start start">
					<span fxFlex="10">分类：</span>
					<div fxFlex="90" fxLayoutWrap fxLayoutGap="8px">
						<md-checkbox>试卷</md-checkbox>
					</div>
					
				</div>
				<div fxLayout="row" fxLayoutAlign="start start">
					<span fxFlex="10">文件类型：</span>
					<div fxFlex="90" fxLayoutWrap fxLayoutGap="8px">
						<md-checkbox>doc</md-checkbox>
					</div>
					
				</div>
				<div class="td-search-container">
					<td-search-box fxFlex="grow" backIcon="search" placeholder="搜索" [showUnderline]="true" [debounce]="500" [alwaysVisible]="true" (clear)="searchInputTerm = ''" (search)="handleSearch($event)">
					</td-search-box>
					<button md-button (click)="openDialog({func:'add'})">资源上传</button>
				</div>
			</div>
		</md-card>
		
		<table td-data-table fxFlexFill>
		  <tr td-data-table-row *ngFor="let item of list; let i = index;" fxFlexFill>
		    <td>
		    	<md-list >
					<h3 md-subheader>{{item.name}}</h3>
					<md-list-item>
						<md-icon md-list-icon>folder</md-icon>
						<div class="slot" fxLayout="column">
							<a md-button routerLink="/app/resources/detail/{{item.uuid}}">预览</a>
							<button md-button>下载</button>
						</div>
						<p md-line>作者：{{item.authorName}}&nbsp;&nbsp;&nbsp;资源类型： {{item.sourceId}}</p>
						
						<p md-line>学校： {{item.schoolName}}&nbsp;&nbsp;&nbsp;学级：{{item.stagesName}}</p>
						<p md-line>资源标签： <span *ngFor="let label of item.lables; let i = index;">{{label}}&nbsp;&nbsp;&nbsp;</span></p>
						<p md-line>上传时间：{{item.createTime}}&nbsp;&nbsp;&nbsp;下载次数：{{item.downloads}}</p>
					</md-list-item>
				</md-list>
		    </td>
		  </tr>
		</table>
		
		<div class="page" fxFlexFill>
			<td-paging-bar 
				#pagingBar 
				[firstLast]="true" 
				[pageSizeAll]="pageSizeAll" 
				[pageSizes]="[10,20,50]"
				pageLinkCount="5" 
				[initialPage]="1" 
				[pageSize]="pageSize" 
				[total]="totalElements" 
				(change)="change($event)">
				<span td-paging-bar-label>每页:</span>
				{{pagingBar.range}} <span>of {{totalElements}}</span>
			</td-paging-bar>
		</div>
	</div>
	
</div>
