<div class="container" fxLayout="row" fxLayoutAlign="center start">
	<div class="content" fxLayout="row" fxLayoutAlign="start start" fxLayoutWrap>
		<md-card fxFlexFill>
			<td-expansion-panel-group fxFlexFill>
			  <td-expansion-panel label="年级：">
			    <button md-button>语文</button>
			  </td-expansion-panel>
			  <td-expansion-panel label="学科：">
			    <button md-button>语文</button>
			  </td-expansion-panel>
			  <td-expansion-panel label="文件分类：">
			    <button md-button>语文</button>
			  </td-expansion-panel>
			</td-expansion-panel-group>
			<div class="td-search-container">
				<td-search-box fxFlex="grow" backIcon="search" placeholder="搜索" [showUnderline]="true" [debounce]="500" [alwaysVisible]="true" (clear)="searchInputTerm = ''" (search)="handleSearch($event)">
				</td-search-box>
				<md-select placeholder="匹配类型">
					<md-option *ngFor="let food of foods" [value]="food.value">
					{{ food.viewValue }}
					</md-option>
				</md-select>
			</div>
			<md-toolbar>
				<span fxFlex="1 1 auto"></span>
				<button md-button (click)="openDialog()">资源上传</button>
			</md-toolbar>
		</md-card>
		

		<md-list *ngFor="let item of list; let i = index;" fxFlexFill>
			<h3 md-subheader>热点相关命题（语文2017） （2份打包）</h3>
			<md-list-item>
				<md-icon md-list-icon>folder</md-icon>
				<div class="slot" fxLayout="column">
					<button md-button>预览</button>
					<button md-button>下载</button>
				</div>
				<p md-line>教材： 语文</p>
				<p md-line>分类： 试题试卷 ,同步测试 ,山东 ,2017</p>
				<p md-line><span>时间：2017/7/18 </span><span>时间：2017/7/18 </span><span>时间：2017/7/18 </span></p>
			</md-list-item>
			<md-divider></md-divider>
		</md-list>
		<div class="page" fxFlexFill>
			<td-paging-bar 
				#pagingBar 
				[firstLast]="true" 
				[pageSizeAll]="pageSizeAll" 
				[pageSizes]="[10,20,50]"
				pageLinkCount="5" 
				[initialPage]="1" 
				[pageSize]="pageSize" 
				[total]="totalElements" 
				(change)="change($event)">
				<span td-paging-bar-label>每页:</span>
				{{pagingBar.range}} <span>of {{totalElements}}</span>
			</td-paging-bar>
		</div>
	</div>
	
</div>
