.container {
	width: 100%;
	padding-top: 16px;
}
.content {
	width: 1024px;
	padding-bottom: 80px;
}
.mat-toolbar {
	background: white;
}
.td-search-container md-select {
	min-width: 275px;
	padding-bottom: 3px;
}
md-radio-button {
	margin-bottom: 8px;
}
md-card {
	padding: 0;
}
md-card>div {
	padding: 24px;
}
md-card>div>div {
	margin-bottom: 16px;
}
