<h2 md-dialog-title>资产出入库</h2>
<md-dialog-content>

  <form #addForm="ngForm" fxLayout="row" fxLayoutAlign="space-around start" fxLayoutWrap>

    <md-input-container fxFlex="25">
      <input mdInput placeholder="资产名称" [disabled]="true" [(ngModel)]="specific.name" name="assetsName">
    </md-input-container>
    <md-input-container fxFlex="25">
      <input mdInput placeholder="资产类型" [disabled]="true" [(ngModel)]="specific.equipmentTypeName" name="equipmentTypeName">
    </md-input-container>
    <md-input-container fxFlex="25">
      <input mdInput placeholder="品牌" [disabled]="true" [(ngModel)]="specific.brand" name="brand">
    </md-input-container>
    <md-input-container fxFlex="25">
      <input mdInput placeholder="规格型号" [disabled]="true" [(ngModel)]="specific.model" name="model">
    </md-input-container>

    <md-input-container fxFlex="25">
      <input mdInput placeholder="资产编号" [disabled]="true" [(ngModel)]="specific.seriesNumber" name="seriesNumber">
    </md-input-container>
    <md-select placeholder="出入库" fxFlex="25" [(ngModel)]="specific.stockStatus" name="stockStatus" required>
      <md-option *ngFor="let status of statusList" [value]="status.value">
        {{ status.viewValue }}
      </md-option>
    </md-select>
    <md-input-container fxFlex="25">
      <input mdInput placeholder="姓名" [(ngModel)]="specific.staffId" name="staffId" required >
    </md-input-container>
    <md-input-container fxFlex="25">
      <input mdInput placeholder="电话" [(ngModel)]="specific.phone" name="phone" required >
    </md-input-container>

  </form>
</md-dialog-content>

<md-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
  <button
    md-button
    color="primary"
    [disabled]="!addForm.form.valid"
    (click)="handleSave()"
  >保存</button>

  <button
    md-button
    color="primary"
    md-dialog-close>关闭</button>
</md-dialog-actions>
