
<md-toolbar id="app-nav" class="slide-in-down hide" color="primary" fxLayout="row" fxLayoutAlign="space-between center" >
	<div fxFlex="1 1 auto">
		<button md-button [mdMenuTriggerFor]="topMenu">SmartSchool智慧校园系统<md-icon>more_vert</md-icon></button>
		<md-menu #topMenu="mdMenu">
		  <a md-menu-item routerLink="/app/homepage/">
		  	<md-icon>home</md-icon>
		    <span>菜单首页</span>
		  </a>
		  <a md-menu-item routerLink="/app/basic/">
		  	<md-icon>settings</md-icon>
		    <span>基础模块</span>
		  </a>
		  <a md-menu-item routerLink="/app/resource/">
		  	<md-icon>cloud</md-icon>
		    <span>资源模块</span>
		  </a>
		</md-menu>
	</div>
	
	<button md-button (click)="logout()">退出登录</button>
</md-toolbar>
<router-outlet></router-outlet>
