<div class="container" fxLayout="row" fxLayoutAlign="center start">
  <div class="content" fxLayout="row" fxLayoutAlign="start start" fxLayoutWrap>
    <md-card fxFlexFill>
      <md-toolbar>
        <button md-button  routerLink="/app/assets/index"><md-icon>reply</md-icon>返回资产列表</button>
        <button md-button (click)="openConfirm(1)">报废</button>
        <button md-button (click)="openConfirm(0)">删除</button>
        <button md-button (click)="openDialog({func:'create'})">生成条形码</button>
      </md-toolbar>
    </md-card>

    <td-data-table
      fxFlexFill
      #dataTable
      [data]="basicData"
      [columns]="columns"
      [selectable]="true"
      [multiple]="true"
      [sortable]="true"
      [sortOrder]="sortOrder"
      [(ngModel)]="selectedRows"
      (rowSelect)="selectEvent($event)"
      (sortChange)="sort($event)"
    >
      <ng-template tdDataTableTemplate="operation" let-value="value" let-row="row" let-column="column">
        <div layout="row">
          <button md-button *ngIf="tabIndex == '0'" (click)="openDialog({func:'inOutStock',seriesNumber:row['seriesNumber']})">出/入库</button>
          <button md-button (click)="openDialog({func:'StockHistory',id:row['id']})">出入库记录</button>
        </div>
      </ng-template>

    </td-data-table>

    <td-paging-bar
      fxFlexFill
      #pagingBar
      [firstLast]="true"
      [pageSizeAll]="false"
      [pageSizes]="[2,10,20,50]"
      pageLinkCount="5"
      [initialPage]="1"
      [pageSize]="pageSize"
      [total]="totalCount"
      (change)="change($event)">
      <span td-paging-bar-label>每页:</span>
      {{pagingBar.range}} <span>of {{pagingBar.total}}</span>
    </td-paging-bar>
  </div>

</div>
