<div class="container" fxLayout="row" fxLayoutAlign="center start">
  <div class="content" fxLayout="row" fxLayoutAlign="start start" fxLayoutWrap>
    <md-card fxFlexFill>
      <md-toolbar>
        <button md-button>报废</button>
        <button md-button>删除</button>
        <button md-button (click)="openDialog({func:'create'})">生成条形码</button>
      </md-toolbar>
    </md-card>

    <td-data-table
      fxFlexFill
      #dataTable
      [data]="basicData"
      [columns]="columns"
      [selectable]="true"
      [multiple]="true"
      [sortable]="true"
      [sortOrder]="sortOrder"
      [(ngModel)]="selectedRows"
      (rowSelect)="selectEvent($event)"
      (sortChange)="sort($event)"
    >
      <tr td-data-table-row>
        <td td-data-table-cell>
          <button md-button>出/入库</button>
        </td>
        <td td-data-table-cell>
          <button md-button>出入库记录</button>
        </td>
      </tr>
    </td-data-table>
    <td-paging-bar
      fxFlexFill
      #pagingBar
      [firstLast]="true"
      [pageSizeAll]="false"
      [pageSizes]="[2,10,20,50]"
      pageLinkCount="5"
      [initialPage]="1"
      [pageSize]="pageSize"
      [total]="totalCount"
      (change)="change($event)">
      <span td-paging-bar-label>每页:</span>
      {{pagingBar.range}} <span>of {{pagingBar.total}}</span>
    </td-paging-bar>
  </div>

</div>
