/* You can add global styles to this file, and also import other style files */
// @import '../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css';
// @import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
// @import '../node_modules/@angular/material/prebuilt-themes/purple-green.css';
@import '../node_modules/material-design-icons/iconfont/material-icons.css';


/* Defining a custom theme */
@import '../node_modules/@angular/material/theming';
@include mat-core();
$candy-app-primary: mat-palette($mat-teal);
$candy-app-accent:  mat-palette($mat-light-blue, A200, A100, A400);
$candy-app-warn:    mat-palette($mat-red);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
@include angular-material-theme($candy-app-theme);
/* Defining a custom theme */



html,body {
	margin: 0;
	padding: 0;
	position: relative;
	font-family: Roboto,"Helvetica Neue",sans-serif;
}


html, 
body,
app-root {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.mat-toolbar-layout {
	width: 100%;
}
.search {
	cursor: pointer;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.mat-input-prefix {
	padding-right: 8px;
}
.avatar {
	height: 48px;
	width: 48px;
	border-radius: 50%;
}

app-homepage {
	app-menus {
		display: flex;
	    justify-content: center;
	}
}


// divider
.divider {
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,.06);
} 
// divider
//pagination
.md-caption.td-paging-bar {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	font-size: 12px;
    letter-spacing: .02em;
    .mat-select-trigger {
    	width: 44px;
    }
}
//pagination



// search component
.td-search-container {
	align-items: center;
}
.td-search-box,
.td-search-input {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	md-input-container {
		width: 100%;
		input::-webkit-search-cancel-button {
			display: none;
		}
	}
}
// search component

// loading animate
#app-loading {
	opacity: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0,0.6);
	transition: 0.7s linear;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1001;
    &.hidden{
    	height: 0;
    	opacity: 0;
    	filter:alpha(opacity=0);
    	// display: none;
    }
    .text {
    	text-align: center;
    	color: white;
    }
	.container {
		width: 200px;
		margin: 0 auto;
	}

	.ball {
		width: 10px;
		height: 10px;
		margin: 10px auto;
		border-radius: 50px;
	}

	.ball:nth-child(1) {
		background: #ff005d;
		-webkit-animation: right 1s infinite ease-in-out;
		-moz-animation: right 1s infinite ease-in-out;
		animation: right 1s infinite ease-in-out;
	}

	.ball:nth-child(2) {
		background: #35ff99;
		-webkit-animation: left 1.1s infinite ease-in-out;
		-moz-animation: left 1.1s infinite ease-in-out;
		animation: left 1.1s infinite ease-in-out;
	}

	.ball:nth-child(3) {
		background: #008597;
		-webkit-animation: right 1.05s infinite ease-in-out;
		-moz-animation: right 1.05s infinite ease-in-out;
		animation: right 1.05s infinite ease-in-out;
	}

	.ball:nth-child(4) {
		background: #ffcc00;
		-webkit-animation: left 1.15s infinite ease-in-out;
		-moz-animation: left 1.15s infinite ease-in-out;
		animation: left 1.15s infinite ease-in-out;
	}

	.ball:nth-child(5) {
		background: #2d3443;
		-webkit-animation: right 1.1s infinite ease-in-out;
		-moz-animation: right 1.1s infinite ease-in-out;
		animation: right 1.1s infinite ease-in-out;
	}

	.ball:nth-child(6) {
		background: #ff7c35;
		-webkit-animation: left 1.05s infinite ease-in-out;
		-moz-animation: left 1.05s infinite ease-in-out;
		animation: left 1.05s infinite ease-in-out;
	}

	.ball:nth-child(7) {
		background: #4d407c;
		-webkit-animation: right 1s infinite ease-in-out;
		-moz-animation: right 1s infinite ease-in-out;
		animation: right 1s infinite ease-in-out;
	}

	@-webkit-keyframes right {
		0% {
			-webkit-transform: translate(-15px);
		}
		50% {
			-webkit-transform: translate(15px);
		}
		100% {
			-webkit-transform: translate(-15px);
		}
	}

	@-webkit-keyframes left {
		0% {
			-webkit-transform: translate(15px);
		}
		50% {
			-webkit-transform: translate(-15px);
		}
		100% {
			-webkit-transform: translate(15px);
		}
	}

	@-moz-keyframes right {
		0% {
			-moz-transform: translate(-15px);
		}
		50% {
			-moz-transform: translate(15px);
		}
		100% {
			-moz-transform: translate(-15px);
		}
	}

	@-moz-keyframes left {
		0% {
			-moz-transform: translate(15px);
		}
		50% {
			-moz-transform: translate(-15px);
		}
		100% {
			-moz-transform: translate(15px);
		}
	}

	@keyframes right {
		0% {
			transform: translate(-15px);
		}
		50% {
			transform: translate(15px);
		}
		100% {
			transform: translate(-15px);
		}
	}

	@keyframes left {
		0% {
			transform: translate(15px);
		}
		50% {
			transform: translate(-15px);
		}
		100% {
			transform: translate(15px);
		}
	}
}
// loading animate


// global animate
.slide-in-down {animation:slideInDown 0.3s linear 0s 1 both}
@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slide-in-left {animation:slideInLeft 0.3s linear 0s 1 both}
@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
.slide-in-up {animation:slideInUp 0.5s 0s 1 both}
@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
.fall-in-x {animation:fallInX 0.5s 0s 1 both}
@keyframes fallInX {
  0% {
    opacity: 0;
    transform: translateY(-200px); }

  100% {
    opacity: 1;
    transform: translateY(0); }
}
.zoom-in {animation:zoomIn 0.5s 0s 1 both}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.light-speed-in {animation:lightSpeedIn 0.5s 0s 1 both}
@keyframes lightSpeedIn {
  from {
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    transform: skewX(-5deg);
    opacity: 1;
  }

  to {
    transform: none;
    opacity: 1;
  }
}  
// global animate