<div class="menu">
	<div fxLayout="row" fxLayoutAlign="start start" >
		<div fxFlex="60px">学段:</div>
		<md-radio-group fxLayoutWrap>
		  <md-radio-button value="1">Option 1</md-radio-button>
		  <md-radio-button value="2">Option 2</md-radio-button>
		  <md-radio-button value="1">Option 1</md-radio-button>
		</md-radio-group>
	</div>
	<div fxLayout="row" fxLayoutAlign="start center">
		<div fxFlex="60px" fxLayoutAlign="start start">学科:</div>
		<md-radio-group fxLayoutWrap>
		  <md-radio-button value="1">Option 1</md-radio-button>
		  <md-radio-button value="2">Option 2</md-radio-button>
		</md-radio-group>
	</div>
	<div fxLayout="row" fxLayoutAlign="start center">
		<div fxFlex="60px">版本:</div>
		<md-radio-group>
		  <md-radio-button value="1">Option 1</md-radio-button>
		  <md-radio-button value="2">Option 2</md-radio-button>
		</md-radio-group>
	</div>
	<div fxLayout="row" fxLayoutAlign="start center">
		<div fxFlex="60px">教材:</div>
		<md-radio-group>
		  <md-radio-button value="1">Option 1</md-radio-button>
		  <md-radio-button value="2">Option 2</md-radio-button>
		</md-radio-group>
	</div>
</div>
<div class="content" fxLayout="row" fxLayoutAlign="start center">
	<div class="tree">
		
	</div>
	<div fxFlex="grow">
		
	</div>
</div>
