.container {
	padding-bottom: 100px;
}
h3 {
	padding-left: 24px;
}
.tree {
	width: 275px;
	padding-left: 16px;
}
.node-content-wrapper-active.node-content-wrapper-focused {
	background: rgba(0,0,0,0)
}
.mat-select,
.mat-input-container {
	padding-left: 8px;
	padding-right: 8px;
}
.mat-select {
	margin-top: 20px;
	margin-bottom: 20px;
}