
.container-content {
	width: 1200px;
	flex-wrap: wrap;
	font-size: 12px;
	padding-top: 16px;
}
.divider {
	margin: 8px;
}
.font12 {
	font-size: 12px;
}
md-toolbar {
	color: red;
}
.menu .radio-select.mat-radio-checked {
	background: none;
    color: #009788;
}
.menu .tree-menu .mat-icon {
	color: #009789;
}

.sort md-icon {
	font-size: 16px;
}

md-list a {
	text-decoration: none;
	color: rgba(74,74,74,1);
}

md-list p {
	margin-top: 4px!important;
	color: rgba(155,155,155,1);
}

.statistics {
	color: red;
	font-weight: bold;
	font-size: 17px;
}




