.container {
	width: 100%;
	padding-top: 16px;
}
.container-content {
	width: 1024px;
	padding-bottom: 80px;
	display: block;
}
.menu {
	width: 100%;
}
.divider {
	margin: 4px 0px 8px 0px;
}
.mat-list {
	width: 100%;
}
md-radio-button {
	margin-left: 8px;
	margin-bottom: 8px;
}