<div class="container fall-in-x">
	<h3>密码管理</h3>
	<div class="content" fxLayout="row" fxLayoutAlign="center start" fxFlexFill>
		<div>
			<form #addForm="ngForm" fxLayout="row" fxLayoutAlign="space-around start" fxLayoutWrap>
				<md-input-container fxFlex="100">
					<input mdInput placeholder="旧密码" required type="password" [(ngModel)]="oldPassword" name="oldPassword">
				</md-input-container>
				<md-input-container fxFlex="100">
					<input #input1 mdInput placeholder="新密码" required type="password" [(ngModel)]="newPassword" name="newPassword">
				</md-input-container>
				<md-input-container fxFlex="100">
					<input #input2 mdInput placeholder="重复新密码" required type="password" [(ngModel)]="newRepeatPassword" name="newRepeatPassword">
				</md-input-container>
				<div fxLayoutAlign="center start" fxFlexFill>
				<button
				    md-button
				    color="primary"
				    [disabled]="!addForm.form.valid || input1.value != input2.value"
				    (click)="save()"
				    >确认</button>
				</div>
			</form>
		</div>
	</div>
</div>