<h2 md-dialog-title>新增学校</h2>
<md-dialog-content>
	
	<form #addForm="ngForm" fxLayout="row" fxLayoutAlign="space-around start" fxLayoutWrap>
		
			<md-input-container fxFlex="50">
		      <input mdInput placeholder="资源名称"  required >
		    </md-input-container>
		    
		    <md-select placeholder="资源类型" fxFlex="50">
				<md-option *ngFor="let food of foods" [value]="food.value">
					{{ food.viewValue }}
				</md-option>
			</md-select>
			<md-select placeholder="资源归属" fxFlex="50">
				<md-option *ngFor="let food of foods" [value]="food.value">
					{{ food.viewValue }}
				</md-option>
			</md-select>
			<md-select placeholder="资源年级" fxFlex="50">
				<md-option *ngFor="let food of foods" [value]="food.value">
					{{ food.viewValue }}
				</md-option>
			</md-select>
			
			<md-input-container fxFlex="100">
				<textarea mdInput placeholder="资源描述"></textarea>
			</md-input-container>
			<div fxFlex="100">
				<p>选择文件: {{fileSelectMsg}}</p>
				<p>上传文件: {{fileUploadMsg}}</p>
				<td-file-upload #singleFileUpload (select)="selectEvent($event)" (upload)="uploadEvent($event)" (cancel)="cancelEvent()">
				  <md-icon>file_upload</md-icon><span>{{ singleFileUpload.files?.name }}</span>
				  <ng-template td-file-input-label>
				    <md-icon>attach_file</md-icon><span>Choose a file...</span>
				  </ng-template>
				</td-file-upload>
			</div>
		
	</form>
</md-dialog-content>
<md-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
  
 	<button
    md-button
    color="primary"
    [disabled]="!addForm.form.valid"
    >保存</button>

	<button
	md-button
	color="primary"
	md-dialog-close>关闭</button>
</md-dialog-actions>