<h2 md-dialog-title>新增教学楼</h2>
<md-dialog-content>
	
	<form #addForm="ngForm" fxLayout="row" fxLayoutAlign="space-around start" fxLayoutWrap>
		    <md-input-container fxFlex="100">
		      <input mdInput placeholder="建筑名字"  required [(ngModel)]="model.buildingName" name="buildingName" [disabled]="status == 'check'">
		    </md-input-container>
		    <md-select placeholder="建筑属性" fxFlex="100" [(ngModel)]="model.attributeId" name="attributeId" [disabled]="status == 'check'">
				<md-option *ngFor="let property of propertylist" [value]="property.value">
					{{ property.viewValue }}
				</md-option>
			</md-select>
			<md-input-container fxFlex="100">
		      <input mdInput placeholder="建筑地址"  required [(ngModel)]="model.address" name="address" [disabled]="status == 'check'">
		    </md-input-container>
			<md-input-container fxFlex="100">
				<textarea mdInput placeholder="建筑描述" [(ngModel)]="model.buildingDesc" name="buildingDesc" [disabled]="status == 'check'"></textarea>
			</md-input-container>
		
	</form>
</md-dialog-content>
<md-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
  
 	<button
    md-button
    color="primary"
    [disabled]="!addForm.form.valid"
    (click)="save()"
    *ngIf="status != 'check'"
    >保存</button>

	<button
	md-button
	color="primary"
	md-dialog-close>关闭</button>
</md-dialog-actions>
