<div class="container fall-in-x">
	<h3>个人信息</h3>
	<div class="content" fxLayout="row" fxLayoutAlign="center start" fxFlexFill>
		<div>
			<form #addForm="ngForm" fxLayout="row" fxLayoutAlign="space-around start" fxLayoutWrap>
				<div fxFlex="100" fxLayoutAlign="center start">
					<image-upload
					  [max]="100"
					  [url]="'https://httpbin.org/status/200'"
					  [buttonCaption]="'请选择照片!'"
					  [dropBoxMessage]=""
					  [extensions]="['jpg','png','gif']"
					  (onRemove)="imageRemoved($event)"
					  (onFileUploadFinish)="imageFinishedUploading($event)"
					  (isPending)="uploadStateChange($event)"
					  >
					</image-upload>
				</div>
				<h4 fxFlex="100">基本信息</h4>
				<div class="divider"></div>
				<md-input-container fxFlex="50">
			      <input mdInput placeholder="学校名称"  required >
			    </md-input-container>
			    <md-input-container fxFlex="50">
			      <input mdInput placeholder="教职工编号"  required >
			    </md-input-container>
			    <md-input-container fxFlex="50">
			      <input mdInput placeholder="姓名"  required >
			    </md-input-container>
			    <md-input-container fxFlex="50">
			      <input mdInput placeholder="性别"  required >
			    </md-input-container>
			    <md-input-container fxFlex="50">
			      <input mdInput placeholder="国籍"  required >
			    </md-input-container>
			    <md-input-container fxFlex="50">
			      <input mdInput placeholder="生日"  required >
			    </md-input-container>
			    <md-input-container fxFlex="50">
			      <input mdInput placeholder="籍贯"  required >
			    </md-input-container>
			    <md-input-container fxFlex="50">
			      <input mdInput placeholder="民族"  required >
			    </md-input-container>
			    <md-input-container fxFlex="50">
			      <input mdInput placeholder="证件类型"  required >
			    </md-input-container>
			    <md-input-container fxFlex="50">
			      <input mdInput placeholder="证件号码"  required >
			    </md-input-container>
			    <md-input-container fxFlex="50">
			      <input mdInput placeholder="政治面貌"  required >
			    </md-input-container>
			    <md-input-container fxFlex="50">
			      <input mdInput placeholder="港澳台侨外"  required >
			    </md-input-container>
			    <md-input-container fxFlex="50">
			      <input mdInput placeholder="是否残疾"  required >
			    </md-input-container>
			    <md-input-container fxFlex="50">
			      <input mdInput placeholder="婚姻状态"  required >
			    </md-input-container>
			    <md-input-container fxFlex="100">
					<textarea mdInput placeholder="个人描述"></textarea>
				</md-input-container>
				
				<h4 fxFlex="100">在校工作相关信息</h4>
				<div class="divider"></div>
				<md-input-container fxFlex="50">
			      <input mdInput placeholder="教职工属性"  required >
			    </md-input-container>
			    <md-input-container fxFlex="50">
			      <input mdInput placeholder="职务"  required >
			    </md-input-container>
			    <md-input-container fxFlex="50">
			      <input mdInput placeholder="所属部门"  required >
			    </md-input-container>
			    <md-input-container fxFlex="50">
			      <input mdInput placeholder="在职状态"  required >
			    </md-input-container>
			    <md-input-container fxFlex="50">
			      <input mdInput placeholder="兼职职务"  required >
			    </md-input-container>
			    <md-input-container fxFlex="50">
			      <input mdInput placeholder="何时加入"  required >
			    </md-input-container>
			    <md-input-container fxFlex="50">
			      <input mdInput placeholder="何时离开"  required >
			    </md-input-container>
				<h4 fxFlex="100">联系方式</h4>
				<div class="divider"></div>
				<md-input-container fxFlex="33">
				  <input mdInput placeholder="省份"  required >
			    </md-input-container>
			    <md-input-container fxFlex="33">
			      <input mdInput placeholder="市"   >
			    </md-input-container>
			    <md-input-container fxFlex="33">
			      <input mdInput placeholder="区/县"   >
			    </md-input-container>
			    <md-input-container fxFlex="50">
			      <input mdInput placeholder="街道信息"  required >
			    </md-input-container>
			    <md-input-container fxFlex="50">
			      <input mdInput placeholder="邮编"  required >
			    </md-input-container>
			     <md-input-container fxFlex="50">
			      <input mdInput placeholder="办公室电话"  required >
			    </md-input-container>
			    <md-input-container fxFlex="50">
			      <input mdInput placeholder="电子邮箱"  required >
			    </md-input-container>
			     <md-input-container fxFlex="50">
			      <input mdInput placeholder="移动电话"  required >
			    </md-input-container>
			    <md-input-container fxFlex="50">
			      <input mdInput placeholder="社交帐号"  required >
			    </md-input-container>
			     <md-input-container fxFlex="50">
			      <input mdInput placeholder="紧急联系人"  required >
			    </md-input-container>
			    <md-input-container fxFlex="50">
			      <input mdInput placeholder="紧急联系人电话"  required >
			    </md-input-container>
				<h4 fxFlex="100">个人履历</h4>
				<div class="divider"></div>
				<md-input-container fxFlex="50">
			      <input mdInput placeholder="职称／执业资格"  required >
			    </md-input-container>
			    <md-input-container fxFlex="50">
			      <input mdInput placeholder="最高学历"  required >
			    </md-input-container>
			     <md-input-container fxFlex="50">
			      <input mdInput placeholder="最高学历毕业学校"  required >
			    </md-input-container>
			    <md-input-container fxFlex="50">
			      <input mdInput placeholder="最高学历专业"  required >
			    </md-input-container>
			    <md-input-container fxFlex="50">
			      <input mdInput placeholder="第二学位"  required >
			    </md-input-container>
			    <md-input-container fxFlex="50">
			      <input mdInput placeholder="毕业时间"  required >
			    </md-input-container>
			     <md-input-container fxFlex="50">
			      <input mdInput placeholder="参加工作时间"  required >
			    </md-input-container>
			    <md-input-container fxFlex="50">
			      <input mdInput placeholder="普通话水平"  required >
			    </md-input-container>
			    <md-input-container fxFlex="50">
			      <input mdInput placeholder="计算机水平"  required >
			    </md-input-container>
			    <md-input-container fxFlex="50">
			      <input mdInput placeholder="海外留学经验"  required >
			    </md-input-container>
			    <md-input-container fxFlex="50">
			      <input mdInput placeholder="教师资格证"  required >
			    </md-input-container>
			    <md-input-container fxFlex="100">
					<textarea mdInput placeholder="教育经历"></textarea>
				</md-input-container>
				<md-input-container fxFlex="100">
					<textarea mdInput placeholder="工作经历"></textarea>
				</md-input-container>
				<md-input-container fxFlex="100">
					<textarea mdInput placeholder="获奖及荣誉"></textarea>
				</md-input-container>
				<md-input-container fxFlex="100">
					<textarea mdInput placeholder="学术论文及著作"></textarea>
				</md-input-container>
					
				
			</form>
			<div fxLayoutAlign="center start" fxFlexFill>
				<button
				    md-button
				    color="primary"
				    [disabled]="!addForm.form.valid"
				    >保存</button>
			</div>
		</div>
		
	</div>
</div>
