<h2 md-dialog-title>新增学科</h2>
<md-dialog-content>

	<form #addForm="ngForm" fxLayout="row" fxLayoutAlign="space-around start" fxLayoutWrap>
		<!-- <div fxLayout='column'> -->
		<md-select placeholder="学校名称" required fxFlex="50" [(ngModel)]="model.schoolId" name="schoolId" [disabled]="status == 'check'">
			<md-option *ngFor="let property of schoolsList" [value]="property.id">
				{{ property.name }}
			</md-option>
		</md-select>
		<md-select placeholder="必修科目" fxFlex="50" [(ngModel)]="model.requiredSub" name="requiredSub" [disabled]="status == 'check'">
			<md-option *ngFor="let property of propertylist" [value]="property.value">
				{{ property.viewValue }}
			</md-option>
		</md-select>
		<md-input-container fxFlex="100">
			<input mdInput placeholder="学科名字" required [(ngModel)]="model.subjectName" name="subjectName" [disabled]="status == 'check'">
		</md-input-container>
		<md-input-container fxFlex="100">
			<textarea mdInput placeholder="学科描述" [(ngModel)]="model.subjectDesc" name="subjectDesc" [disabled]="status == 'check'"></textarea>
		</md-input-container>

	</form>
</md-dialog-content>
<md-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">

	<button md-button color="primary" [disabled]="!addForm.form.valid" (click)="save()" *ngIf="status != 'check'">保存</button>

	<button md-button color="primary" md-dialog-close>关闭</button>
</md-dialog-actions>