<div class="container" fxLayout="row" fxLayoutAlign="center start">
	<div class="content" fxLayout="column" fxLayoutAlign="center start">
		<div fxFlexFill>
			<h2 class="text-center">{{model.name}}</h2>
			<div class="preview" *ngIf="previews.previews">
				<img src="{{item}}" alt="" *ngFor="let item of previews.previews; let i = index;">		
			</div>
			<p class="no-message" *ngIf="!previews.previews">该文件不支持在线预览，请下载查看！</p>
			<div fxLayout="func" fxLayoutAlign="center center" fxFlexFill>
				<button md-button (click)="download()"><i class="material-icons blue">file_download</i>资源下载</button>
				<button md-button (click)="collection()" *ngIf="model.ownerId != user.user.id && model.sourceType != 1"><i class="material-icons orange">bookmark</i>资源收藏</button>
				<button md-button (click)="reviewPass()" *ngIf="user.user.roleId == 1 || user.user.roleId == 2 "><i class="material-icons primary">done</i>审核通过</button>
				<button md-button (click)="reviewFailed()" *ngIf="user.user.roleId == 1 || user.user.roleId == 2 "><i class="material-icons red">clear</i>审核失败</button>
			</div>
		</div>
		<div fxFlexFill>
			<div class="left" fxFlex="1 1 auto">			
				<div class="comment" fxFlexFill>
					<h3>评论</h3>
					<div class="divider"></div>
					<md-list *ngFor="let item of commentlist; let i = index;">
						<md-list-item >
							<!-- <img md-list-icon src="../../../../assets/img/header.jpeg" class="avatar"> -->
							<h4 md-line>{{item.nickname}}</h4>
							<p md-line> {{item.content}} </p>
							<div class="slot" fxLayout="column">
								<bar-rating [(rate)]="item.star" [max]="5" [theme]="'default'" [readOnly]="true"></bar-rating>
							</div>
						</md-list-item>
						<md-divider></md-divider>
					</md-list>
					<form #addForm="ngForm" fxLayout="row" fxLayoutAlign="space-around start" fxLayoutWrap>
						<div fxLayout="star" fxLayoutAlign="end center" fxFlexFill>
							<span>评分：</span><bar-rating [(rate)]="postData.star" [max]="5" [theme]="'default'"></bar-rating>
						</div>
						<md-input-container fxFlex="100">
							<textarea mdInput placeholder="留言" [(ngModel)]="postData.content" name="content"></textarea>
						</md-input-container>
					</form>
					
					<div fxLayoutAlign="end center">
						<button md-button (click)="save()">回复</button>
					</div>
					<div class="page" fxFlexFill>
						<td-paging-bar 
							#pagingBar 
							[firstLast]="true" 
							
							pageLinkCount="5" 
							[initialPage]="1" 
							[pageSize]="pageSize" 
							[total]="totalElements" 
							(change)="change($event)">
							<span td-paging-bar-label>每页:</span>
							{{pagingBar.range}} <span>of {{totalElements}}</span>
						</td-paging-bar>
					</div>
				</div>
			</div>
			<div class="right" fxFlex="275px">
				<md-card>
					<div>上传作者：{{model.authorName}}</div>
					<div>上传时间：{{model.createTime| date: 'yyyy-MM-dd'}}</div>
					<div>资源类型：{{model.format}}</div>
					<div>学科：{{model.courseName}}</div>
					<div>学段：{{model.stagesName}}</div>
					<div>说明：{{model.note}}</div>

				</md-card>	
			</div>
		</div>				
		
		
		


	</div>
</div>
