<div class="container fall-in-x">
    <h3>教室办公室管理</h3>
    <md-tab-group>
      <md-tab label="教室列表">
        <div class="td-search-container">
    <td-search-box backIcon="search" placeholder="搜索" [showUnderline]="true" [debounce]="500" [alwaysVisible]="true" (clear)="searchInputTerm = ''" (search)="handleSearch($event)">
    </td-search-box>
   
      <a  md-menu-item (click)="openDialog({func:'add'})">
        <md-icon>add</md-icon>
        <span>新增</span>
      </a>
      <a  md-menu-item (click)="openDialog({func:'modify'})">
        <md-icon>edit</md-icon>
        <span>修改</span>
      </a>
      <a  md-menu-item (click)="delete()">
        <md-icon>delete</md-icon>
        <span>删除</span>
      </a>
      <a  md-menu-item (click)="openDialog({func:'check'})">
        <md-icon>rate_review</md-icon>
        <span>查看</span>
      </a>
  </div>
  <div class="divider"></div>
  <div fxLayout="row" fxLayoutAlign="start start">
    <!-- <div>
      tree
    </div> -->
    <div fxFlex="grow" fxLayout="column">
      <td-data-table
        #dataTable
        [data]="basicData"
        [columns]="columns"
        [selectable]="true"
        [multiple]="true"
        [sortable]="true"
        [sortBy]="sortBy"
        [sortOrder]="sortOrder"
        [(ngModel)]="selectedRows"
        (rowSelect)="selectEvent($event)"
        >
      </td-data-table>
      <td-paging-bar 
        #pagingBar 
        [firstLast]="true" 
        [pageSizeAll]="false" 
        [pageSizes]="[10,20,50]"
        pageLinkCount="5" 
        [initialPage]="1" 
        [pageSize]="pageSize" 
        [total]="totalCount" 
        (change)="change($event)">
        <span td-paging-bar-label>每页:</span>
        {{pagingBar.range}} <span>of {{pagingBar.total}}</span>
      </td-paging-bar>
    </div>
    
  </div>
      </md-tab>
      <!-- <md-tab label="教室属性列表">
      <md-toolbar>
          <button md-button>
            <md-icon>add</md-icon>
            <span>新增</span>
          </button>
          <button md-button>
            <md-icon>edit</md-icon>
            <span>修改</span>
          </button>
          <button md-button>
            <md-icon>delete</md-icon>
            <span>删除</span>
          </button>
        </md-toolbar>
  <div class="divider"></div>
  <div fxLayout="row" fxLayoutAlign="start start">
    <div fxFlex="grow" fxLayout="column">
      <td-data-table
        #dataTable
        [data]="basicData"
        [columns]="columns"
        [selectable]="true"
        [multiple]="true"
        [sortable]="true"
        [sortBy]="sortBy"
        [sortOrder]="sortOrder"
        [(ngModel)]="selectedRows"
        (rowSelect)="selectEvent($event)"
        (sortChange)="sort($event)"
        >
      </td-data-table>
      <td-paging-bar 
        #pagingBar 
        [firstLast]="true" 
        [pageSizeAll]="false" 
        [pageSizes]="[10,20,50]"
        pageLinkCount="5" 
        [initialPage]="1" 
        [pageSize]="100" 
        [total]="1345" 
        (change)="change($event)">
        <span td-paging-bar-label>每页:</span>
        {{pagingBar.range}} <span>of {{pagingBar.total}}</span>
      </td-paging-bar>
    </div>
    
  </div>
      </md-tab> -->
    </md-tab-group>
    
  
</div>
