<h2 md-dialog-title>新增学校</h2>
<md-dialog-content>
	
	<form #addForm="ngForm" fxLayout="row" fxLayoutAlign="space-around start" fxLayoutWrap >
			<md-input-container fxFlex="50">
		      <input mdInput placeholder="学校名称"  required [(ngModel)]="model.name" name="name" [disabled]="status == 'check'">
		    </md-input-container>
		    <md-input-container fxFlex="50">
		      <input mdInput placeholder="校长"  required [(ngModel)]="model.nominatedContactPerson" name="nominatedContactPerson" [disabled]="status == 'check'">
		    </md-input-container>
		    <md-input-container fxFlex="50">
		      <input mdInput placeholder="办公室电话"  [(ngModel)]="model.officeNo" name="officeNo" [disabled]="status == 'check'">
		    </md-input-container>
		    <md-input-container fxFlex="50">
		      <input mdInput placeholder="移动电话"  [(ngModel)]="model.nominatedContactNo" name="nominatedContactNo" [disabled]="status == 'check'">
		    </md-input-container>
		    <md-select placeholder="是否是分校" fxFlex="50" [(ngModel)]="model.branch" name="branch" (change)="selectChange()" [disabled]="status == 'check'">
				<md-option *ngFor="let item of YesOrNo" [value]="item.value">
					{{ item.viewValue }}
				</md-option>
			</md-select>

			<md-select placeholder="总校" fxFlex="50" [(ngModel)]="model.parentSchool" name="parentSchool" [disabled]="model.branch == 1 || status == 'check'">
				<md-option *ngFor="let item of schoollist" [value]="item.id">
					{{ item.name }}
				</md-option>
			</md-select>
			<md-input-container fxFlex="33">
		      <input mdInput placeholder="省份" [(ngModel)]="model.province" name="province" [disabled]="status == 'check'">
		    </md-input-container>
		    <md-input-container fxFlex="33">
		      <input mdInput placeholder="市"   [(ngModel)]="model.city" name="city" [disabled]="status == 'check'">
		    </md-input-container>
		    <md-input-container fxFlex="33">
		      <input mdInput placeholder="区/县"   [(ngModel)]="model.area" name="area" [disabled]="status == 'check'">
		    </md-input-container>
			<md-input-container fxFlex="50">
		      <input mdInput placeholder="街道信息"   [(ngModel)]="model.placeHolder1" name="placeHolder1" [disabled]="status == 'check'">
		    </md-input-container>
		    <md-input-container fxFlex="50">
		      <input mdInput placeholder="邮编"   [(ngModel)]="model.placeHolder2" name="placeHolder2" [disabled]="status == 'check'">
		    </md-input-container>
			<md-input-container fxFlex="100">
				<textarea mdInput placeholder="学校描述" [(ngModel)]="model.schoolDesc" name="schoolDesc" [disabled]="status == 'check'"></textarea>
			</md-input-container>

		
		
	</form>
</md-dialog-content>
<md-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
  
 	<button
    md-button
    color="primary"
    [disabled]="!addForm.form.valid"
    (click)="save()"
    *ngIf="status != 'check'"
    >保存</button>

	<button
	md-button
	color="primary"
	md-dialog-close>关闭</button>
</md-dialog-actions>