<h2 md-dialog-title>新增学校</h2>
<md-dialog-content>
	
	<form #addForm="ngForm" fxLayout="row" fxLayoutAlign="space-around start" fxLayoutWrap>
			<md-input-container fxFlex="50">
		      <input mdInput placeholder="学校名称"  required [(ngModel)]="school.name" name="name">
		    </md-input-container>
		    <md-input-container fxFlex="50">
		      <input mdInput placeholder="校长"  required [(ngModel)]="school.nominated_contact_person" name="nominated_contact_person">
		    </md-input-container>
		    <md-input-container fxFlex="50">
		      <input mdInput placeholder="办公室电话"  [(ngModel)]="school.office_no" name="office_no" >
		    </md-input-container>
		    <md-input-container fxFlex="50">
		      <input mdInput placeholder="移动电话"  [(ngModel)]="school.nominated_contact_no" name="nominated_contact_no" >
		    </md-input-container>
		    <md-select placeholder="是否是分校" fxFlex="50" [(ngModel)]="school.branch" name="branch" (change)="selectChange()">
				<md-option *ngFor="let item of YesOrNo" [value]="item.value">
					{{ item.viewValue }}
				</md-option>
			</md-select>
			<md-select placeholder="总校" fxFlex="50" [(ngModel)]="school.parent_school" name="parent_school" [disabled]="school.branch == '1'">
				<md-option *ngFor="let item of YesOrNo" [value]="item.value">
					{{ item.viewValue }}
				</md-option>
			</md-select>
			<md-input-container fxFlex="33">
		      <input mdInput placeholder="省份"  required >
		    </md-input-container>
		    <md-input-container fxFlex="33">
		      <input mdInput placeholder="市"   >
		    </md-input-container>
		    <md-input-container fxFlex="33">
		      <input mdInput placeholder="区/县"   >
		    </md-input-container>
			<md-input-container fxFlex="50">
		      <input mdInput placeholder="街道信息"   >
		    </md-input-container>
		    <md-input-container fxFlex="50">
		      <input mdInput placeholder="邮编"   >
		    </md-input-container>
			<md-input-container fxFlex="100">
				<textarea mdInput placeholder="学校描述" [(ngModel)]="school.school_desc" name="school_desc"></textarea>
			</md-input-container>

		
		
	</form>
</md-dialog-content>
<md-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
  
 	<button
    md-button
    color="primary"
    [disabled]="!addForm.form.valid"
    (clicl)="save()"
    >保存</button>

	<button
	md-button
	color="primary"
	md-dialog-close>关闭</button>
</md-dialog-actions>