<div class="container" fxLayout="row" fxLayoutAlign="center start">
	<div class="container-content">
		<div class="menu">
			<div fxLayout="row" fxLayoutAlign="start start" >
				<div fxFlex="60px">学段:</div>
				<md-radio-group fxLayoutWrap [(ngModel)]="searchMenu.period" name="period" (change)="periodChange()">
				  <md-radio-button value="{{child.id}}" *ngFor="let child of showMenu.period; let o = index;">{{child.name}}</md-radio-button>
				</md-radio-group>
			</div>
			<div class="divider"></div>
			<div fxLayout="row" fxLayoutAlign="start start">
				<div fxFlex="60px">学科:</div>
				<md-radio-group fxLayoutWrap  [(ngModel)]="searchMenu.subject" name="subject" (change)="subjectChange()">
				  <md-radio-button value="{{child.id}}" *ngFor="let child of showMenu.subject; let o = index;">{{child.name}}</md-radio-button>
				</md-radio-group>
			</div>
			<div class="divider"></div>
			<div fxLayout="row" fxLayoutAlign="start start">
				<div fxFlex="60px">版本:</div>
				<md-radio-group [(ngModel)]="searchMenu.version" name="version" (change)="versionChange()">
				  <md-radio-button value="{{child.id}}" *ngFor="let child of showMenu.version; let o = index;">{{child.name}}</md-radio-button>
				</md-radio-group>
			</div>
			<div class="divider"></div>
			<div fxLayout="row" fxLayoutAlign="start start">
				<div fxFlex="60px">教材:</div>
				<md-radio-group [(ngModel)]="searchMenu.textbook" name="textbook" (change)="textbookChange()">
				  <md-radio-button value="{{child.id}}" *ngFor="let child of showMenu.textbook; let o = index;">{{child.name}}</md-radio-button>
				</md-radio-group>
			</div>
			<div class="divider"></div>
			<div fxLayout="row" fxLayoutAlign="start center" class="filter">
					<div fxFlex="grow">
						筛选：
						<md-select placeholder="文件类型" (change)="formatChange()" [(ngModel)]="formatValue" name="formatValue">
						  <md-option *ngFor="let item of fileTypes; let o = index;" [value]="item.value">
						    {{ item.text }}
						  </md-option>
						</md-select>
					</div>
					<div fxFlex="grow">
						<td-search-box fxFlex="grow" backIcon="search" placeholder="搜索" [showUnderline]="true" [debounce]="500" [alwaysVisible]="true" (clear)="searchInputTerm = ''" (search)="handleSearch($event)">
						</td-search-box>
					</div>
					<div fxFlex="grow" fxLayoutAlign="center center">
						<button md-button (click)="openDialog({})">资源上传</button>
					</div>
				</div>
			
			<div class="divider"></div>
		</div>
			
		<div class="content" fxLayout="column" fxLayoutAlign="start start">
			<md-list fxFlex="100" *ngFor="let item of resourcelist; let o = index;">
			  <h3 md-subheader>{{item.name}}</h3>
			  <md-list-item>
			  	<i [class]="iconfont(item.format)" md-list-icon></i>
			    <h4 md-line>{{item.stagesName}} | {{item.gradeName}} | {{item.versionName}} | {{item.courseName}}</h4>
			    <p md-line>收藏人数：{{item.favorites}} | 下载次数：{{item.downloads}} |上传时间：{{item.updateTime | date: 'yyyy-MM-dd'}} </p>
			    <div class="slot">
			    	<a md-button routerLink="/app/resource/detail/{{item.uuid}}">预览</a>
			    	<button md-button (click)="reviewPass(item.uuid)" >审核通过</button>
			    	<button md-button (click)="reviewFail(item.uuid)">审核失败</button>
			    </div>
			  </md-list-item>
			  <md-divider></md-divider>
			</md-list>
			<div class="page" fxFlexFill>
				<td-paging-bar 
					#pagingBar 
					[firstLast]="true" 
					[pageSizeAll]="false" 
					[pageSizes]="[10,20,50]"
					pageLinkCount="5" 
					[initialPage]="1" 
					[pageSize]="pageSize" 
					[total]="totalElements" 
					(change)="change($event)">
					<span td-paging-bar-label>每页:</span>
					{{pagingBar.range}} <span>of {{pagingBar.total}}</span>
				</td-paging-bar>
			</div>
		</div>
	</div>
	
</div>
