<div class="container" fxLayout="row" fxLayoutAlign="center start">
	<div class="container-content">
		<md-card class="menu">
			<div fxLayout="row" fxLayoutAlign="start start">
				<div fxFlex="60px" class="menu-brand">状态:</div>
				<md-radio-group [(ngModel)]="status" name="status" (change)="statusChange()">
				  <md-radio-button class="radio-select" value="{{child.value}}" *ngFor="let child of reviewStatus; let o = index;">{{child.viewValue}}</md-radio-button>
				</md-radio-group>
			</div>
			<div class="divider"></div>
			<div fxLayout="row" fxLayoutAlign="start start">
				<div fxFlex="60px" class="menu-brand">类型:</div>
				<md-radio-group [(ngModel)]="formatValue" name="formatValue" (change)="formatChange()" fxFlex="grow" class="{{group4.value}}">
				  <md-radio-button class="radio-select" value="{{item.value}}" *ngFor="let item of fileTypes; let o = index;">{{item.text}}</md-radio-button>
				</md-radio-group>
				<md-button-toggle-group #group4="mdButtonToggleGroup" class="menu-md-button-toggle-group">
				  <md-button-toggle value="" *ngIf = "group4.value == 'height-auto'">
				    收起<md-icon>keyboard_arrow_up</md-icon>
				  </md-button-toggle>
				  <md-button-toggle value="height-auto" *ngIf = "!(group4.value == 'height-auto')">
				    展开<md-icon>keyboard_arrow_down</md-icon>
				  </md-button-toggle>
				</md-button-toggle-group>
			</div>
			<div class="divider"></div>
			<div fxLayout="row" fxLayoutAlign="end start">
				<td-search-box fxFlex="grow" backIcon="search" placeholder="搜索" [showUnderline]="true" [debounce]="500" [alwaysVisible]="true" (clear)="searchInputTerm = ''" (search)="handleSearch($event)" fxFlex="200px">
				</td-search-box>
			</div>
			<div class="divider"></div>
			<div fxLayout="row" fxLayoutAlign="start start" fxLayoutWrap>
				<md-list fxFlex="100" *ngFor="let item of resourcelist; let o = index;">
				  <a md-subheader routerLink="/app/resource/detail/{{item.uuid}}"><h4>{{item.name}}</h4></a>
				  <md-list-item>
				  	<i [class]="iconfont(item.format)" md-list-icon></i>
				    <h4 md-line>{{item.stagesName}} | {{item.gradeName}} | {{item.versionName}} | {{item.courseName}}</h4>
				    <p md-line>收藏人数：{{item.favorites}} | 下载次数：{{item.downloads}} |上传时间：{{item.updateTime | date: 'yyyy-MM-dd'}} </p>
				    <div class="slot">
				    	<a md-button routerLink="/app/resource/detail/{{item.uuid}}"><i class="material-icons primary">view_module</i>资源预览</a>
				    	<button md-button (click)="download(item.uuid)"><i class="material-icons blue">file_download</i>资源下载</button>
				    	<button md-button (click)="reviewPass(item.uuid)" ><i class="material-icons primary">done</i>审核通过</button>
				    	<button md-button (click)="reviewFail(item.uuid)"><i class="material-icons red">clear</i>审核失败</button>
				    </div>
				  </md-list-item>
				  <md-divider></md-divider>
				</md-list>
				<div fxFlex="100" fxLayout="row" fxLayoutAlign="end start">
					<td-paging-bar 
						#pagingBar 
						[firstLast]="true" 
						
						pageLinkCount="5" 
						[initialPage]="1" 
						[pageSize]="pageSize" 
						[total]="totalElements" 
						(change)="change($event)">
						<span td-paging-bar-label>每页:</span>
						{{pagingBar.range}} <span>of {{pagingBar.total}}</span>
					</td-paging-bar>
				</div>
			</div>
			<!-- <div fxLayout="row" fxLayoutAlign="start start">
				<div fxFlex="80px">审核状态</div>
				<md-radio-group [(ngModel)]="status" name="status" (change)="statusChange()">
				  <md-radio-button value="{{child.value}}" *ngFor="let child of reviewStatus; let o = index;">{{child.viewValue}}</md-radio-button>
				</md-radio-group>
			</div>
			<div class="divider"></div>
			<div fxLayout="row" fxLayoutAlign="start center" class="filter">
					<div fxFlex="grow">
						筛选：
						<md-select placeholder="文件类型" (change)="formatChange()" [(ngModel)]="formatValue" name="formatValue">
						  <md-option *ngFor="let item of fileTypes; let o = index;" [value]="item.value">
						    {{ item.text }}
						  </md-option>
						</md-select>
					</div>
					<div fxFlex="grow">
						<td-search-box fxFlex="grow" backIcon="search" placeholder="搜索" [showUnderline]="true" [debounce]="500" [alwaysVisible]="true" (clear)="searchInputTerm = ''" (search)="handleSearch($event)">
						</td-search-box>
					</div>
				</div>
			
		</md-card>
			
		<md-card class="content" fxLayout="column" fxLayoutAlign="start start">
			<md-list fxFlex="100" *ngFor="let item of resourcelist; let o = index;">
			  <h3 md-subheader>{{item.name}}</h3>
			  <md-list-item>
			  	<i [class]="iconfont(item.format)" md-list-icon></i>
			    <h4 md-line>{{item.stagesName}} | {{item.gradeName}} | {{item.versionName}} | {{item.courseName}}</h4>
			    <p md-line>收藏人数：{{item.favorites}} | 下载次数：{{item.downloads}} |上传时间：{{item.updateTime | date: 'yyyy-MM-dd'}} </p>
			    <div class="slot">
			    	<a md-button routerLink="/app/resource/detail/{{item.uuid}}"><i class="material-icons primary">view_module</i>资源预览</a>
			    	<button md-button (click)="download(item.uuid)"><i class="material-icons blue">file_download</i>资源下载</button>
			    	<button md-button (click)="reviewPass(item.uuid)" ><i class="material-icons primary">done</i>审核通过</button>
			    	<button md-button (click)="reviewFail(item.uuid)"><i class="material-icons red">clear</i>审核失败</button>
			    </div>
			  </md-list-item>
			  <md-divider></md-divider>
			</md-list>
			<div class="page" fxFlexFill>
				<td-paging-bar 
					#pagingBar 
					[firstLast]="true" 
					[pageSizeAll]="false" 
					[pageSizes]="[10,20,50]"
					pageLinkCount="5" 
					[initialPage]="1" 
					[pageSize]="pageSize" 
					[total]="totalElements" 
					(change)="change($event)">
					<span td-paging-bar-label>每页:</span>
					{{pagingBar.range}} <span>of {{pagingBar.total}}</span>
				</td-paging-bar>
			</div> -->
		</md-card>
	</div>
	
</div>
