<h2 md-dialog-title>新增年级</h2>
<md-dialog-content>
	
	<form #addForm="ngForm" fxLayout="row" fxLayoutAlign="space-around start" fxLayoutWrap>
			<!-- <md-input-container fxFlex="50">
		      <input mdInput placeholder="学校名字"  required required [(ngModel)]="school.name" name="name" [disabled]="status == 'check'">
		    </md-input-container> -->
		    <md-input-container fxFlex="100">
		      <input mdInput placeholder="年级名字" required [(ngModel)]="grade.gradeName" name="gradeName" [disabled]="status == 'check'">
		    </md-input-container>
		    <md-select placeholder="年级属性" fxFlex="100" [(ngModel)]="grade.gradeAttr" name="gradeAttr">
				<md-option *ngFor="let item of propertylist" [value]="item.value">
					{{ item.viewValue }}
				</md-option>
			</md-select>
			<md-input-container fxFlex="50">
			  <input mdInput [mdDatepicker]="picker" placeholder="入学时间" [(ngModel)]="grade.gradeLevel" name="gradeLevel">
			  <button mdSuffix [mdDatepickerToggle]="picker"></button>
			</md-input-container>
			<md-datepicker #picker  [startAt]="startDate"></md-datepicker>
		    <md-input-container fxFlex="50">
		      <input mdInput placeholder="年级负责人" [(ngModel)]="grade.gradeManagerName" name="gradeManagerName">
		    </md-input-container>
			<md-input-container fxFlex="100">
				<textarea mdInput placeholder="年级描述" [(ngModel)]="grade.gradeDesc" name="gradeDesc"></textarea>
			</md-input-container>

		
		
	</form>
</md-dialog-content>
<md-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
  
 	<button
    md-button
    color="primary"
    (click)="save()"
    [disabled]="!addForm.form.valid"
    *ngIf="status != 'check'"
    >保存</button>

	<button
	md-button
	color="primary"
	md-dialog-close>关闭</button>
</md-dialog-actions>
