.menus-container-container {
	display: block;
	width: 1024px;
	padding-bottom: 100px;
}

md-chip {
	margin: 16px 0px;
}
md-card {
	width: 100%;
	padding: 0px;
	border-radius: 0px;
	background: rgba(255,255,255,0.8);
}
md-card>a {
	width: 100%;
}

.card-container {
}
.title {
	font-size: 18px;
}