.container {
	padding-bottom: 100px;
}
h3 {
	padding-left: 24px;
}
form {
	width: 1024px;
}
.mat-select,
.mat-input-container {
	padding-left: 8px;
	padding-right: 8px;
}
.mat-select {
	margin-top: 20px;
	margin-bottom: 20px;
}